Flask==3.0.3
Werkzeug==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1
groq==0.8.0
google-generativeai==0.8.3
PyGithub==2.3.0
beautifulsoup4==4.12.3
requests==2.32.3
PyMuPDF==1.24.4
pdfplumber==0.11.2
blis==0.7.11
spacy==3.7.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
pydantic==2.7.4
opencv-python-headless==4.10.0.84